body {
    font-family: 'Poppins', sans-serif;
}

.text-control {
    width: 370px;
    height: 72px;
    color: #E0E0E0;
    ;
}

.honda-btn {
    background-color: #E76F51;
    color: white;
    height: 44px;
    width: 168px;
    border: none;
    padding: 10px;
    border-radius: 5px;

}

.img-control {
    width: 156px;
    height: 320px;
    font-size: 16px;
}

/* Fetured Bikes section */
.grayscale {
    filter: grayscale(100%);
}

/* Happy Clients says */
.rating {
    color: #E77C40;

}

.alignment {
    text-align: center;
    padding-bottom: 40px;
}


/* services part */
.services img {
    width: 100%;
    height: 100%;

}